<div class="tile-dashboard container text-center">
    <div class="tile-dashboard__header">
        <h1 *ngIf="_dashboardTitle">{{ _dashboardTitle }}</h1>
        <h2>{{ _dashboardSubtitle }}</h2>
    </div>
    <div class="tile-dashboard__list">
        <app-tile-list [tiles]="_tiles"></app-tile-list>
    </div>
    <div class="tile-dashboard__settings text-center">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
            <i class="bi bi-gear-fill"></i>
        </button>
    </div>
</div>