<div class="tile-dashboard container">
    <div class="tile-dashboard__header">
        <h2 *ngIf="generalSettings.title" class="tile-dashboard__title">{{ generalSettings.title }}</h2>
        <h1 *ngIf="generalSettings.subtitle" class="tile-dashboard__subtitle">{{ generalSettings.subtitle }}</h1>
    </div>
    <div class="tile-dashboard__list">
        <app-tile-list [tiles]="tiles" [layoutSetting]="generalSettings.displayLayout" [visibleTiles]="visibleTiles"></app-tile-list>
    </div>
    <div class="tile-dashboard__settings">
        <app-tile-settings [generalSettings]="generalSettings" [tiles]="tiles" (submittedForm)="obtainSettings($event)"></app-tile-settings>
    </div>
</div>