<button type="button" class="btn settings-btn" (click)="openSettingsModal()">
    <i class="bi bi-gear-fill settings-btn-icon"></i>
</button>

<div class="modal" id="settingsModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-body">
            <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-4 settings__left">
                        <div class="settings__header">
                            <i class="bi bi-columns-gap settings__header-icon"></i>
                            <span class="settings__header-text">Tiles</span>
                        </div>
                        <div class="settings__content">
                            <div class="settings__dropdown-input">
                                <label for="displayLayout" class="form-label settings__dropdown-label">Display layout</label>
                                <select class="form-select form-select-sm" id="displayLayout" formControlName="displayLayout">
                                    <option *ngFor="let layout of availableLayouts" [ngValue]="layout">{{ layout }}</option>
                                </select>
                            </div>
    
                            <hr class="hr" />
    
                            <div class="settings__category-label">Text</div>
                            <div class="d-flex align-items-center settings__text-input">
                                <label for="title" class="form-label settings__text-label">Title</label>
                                <input type="text" class="form-control form-control-sm" id="title" placeholder="e.g. Title text" formControlName="title">
                            </div>
                            <div class="d-flex align-items-center settings__text-input">
                                <label for="subtitle" class="form-label settings__text-label">Subtitle</label>
                                <input type="text" class="form-control form-control-sm" id="subtitle" placeholder="e.g. Subtitle text" formControlName="subtitle">
                            </div>
    
                            <hr class="hr" />
    
                            <div class="settings__category-label">Other</div>
                            <div class="card">
                                <div class="card-header">
                                    <div class="form-check form-switch">
                                        <label class="form-check-label settings__switch-label" for="flexSwitchCheckDefault">Load all</label>
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" formControlName="loadAllTiles">                            
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-center settings__number">
                                        <label for="visibleTiles" class="form-label settings__text-label">Tiles visible</label>
                                        <input type="text" class="form-control form-control-sm" id="displayedTiles" placeholder="e.g. 6" formControlName="visibleTiles">
                                    </div>
                                </div>
                            </div>                           
                        </div>
                        <div class="settings__footer">
                            <button type="submit" class="btn btn-primary settings__submit-button">Update</button>
                        </div>
                    </div>
                    <div class="col-8 settings__right">
                        <div class="settings__close-btn">
                            <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="row">
                            <div class="col-12 align-items-center settings__right-header">
                                <span class="settings__right-header__title">Tiles</span>
                                <button class="btn btn-primary btn-sm" (click)="addTile()">
                                    <i class="bi bi-plus"></i>
                                    Add
                                </button>
                            </div>
                        </div>
                        <div class="row" formArrayName="tiles">
                            <div class="col-12 table-responsive" *ngIf="tilesFormArray.value.length">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <i class="bi bi-sort-down"></i>
                                            </th>
                                            <th>BG</th>
                                            <th>Text</th>
                                            <th>Link</th>
                                            <th></th>
                                            <th>
                                                <i class="bi bi-caret-down-fill"></i>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let tile of tilesFormArray.controls; let i = index" [formGroupName]="i">
                                            <td>
                                                <i class="bi bi-list settings__clickable-icon"></i>
                                            </td>
                                            <td>
                                                <input type="color" class="form-control form-control-color form-control-sm" formControlName="color" title="Choose your color">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm" placeholder="e.g. Tile text" formControlName="text">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm" placeholder="e.g. Tile URL" formControlName="url">
                                            </td>
                                            <td>
                                                <i class="bi bi-trash3-fill settings__clickable-icon" (click)="removeTile(i)"></i>
                                            </td>
                                            <td>
                                                <i class="bi bi-three-dots settings__clickable-icon"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>  
      </div>
    </div>
  </div>